$mainGrey: #555;
$darkGrey: #212529;
$mainBlue: #e7f5ff;
$lightBtnBlue: #74c0fc;
$darkBtnBlue: #4dabf7;
$mainWhite: rgb(247, 247, 247);
$darkWhite: rgb(236, 236, 236);
$darkWhite--02: rgb(224, 224, 224);
$darkWhite--03: rgb(216, 216, 216);
